body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px 0px;
    background-image: url(img/background.png);
    background-color: antiquewhite;
    position: relative;
}

header {
    width: 1200px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    background-image: url(img/bg-body.jpg);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    height: 50px;
    background-color: rgb(94, 86, 86);
}

.main {
    position: relative;
    background-image: url(img/bg-body.jpg);
    margin: auto;
    padding-top: 1px;
    background-color: rgba(164, 137, 129, 0.57);
    width: 1200px;
    height: 1100px;
}

.name {
    padding-left: 50px;
    line-height: 50px;
    color: white;
}

.myLink>a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 50px;
    color: white;
}

.myLink>a:hover {
    background-color: #2a5a5a57;
}

table,
th,
td {
    border: 1px solid;
    border-radius: 3px;
    margin: 20px auto;
    text-align: center;
}

table {
    width: 70%;
}

.inputChar {
    width: 20px;
    text-align: center;
}

.generateButton {
    margin-left: 550px;
}

textarea {
    resize: none;
}

.inputs {
    margin: 35px auto;
    width: 800px;
    height: 130px;
    display: flex;
    position: relative;
}

.yourText {
    width: 50%;
    position: relative;
}

.closeNormalText {
    width: 11px;
    height: 11px;
    padding: 3px;
    position: absolute;
    top: 110px;
    left: 290px;
}

.closeNormalText:hover {
    background-color: rgb(213, 210, 207);
    border-radius: 5px;
}

.closeEncriptedText {
    width: 11px;
    height: 11px;
    padding: 3px;
    position: absolute;
    top: 110px;
    right: 5px;
}

.closeEncriptedText:hover {
    background-color: rgb(213, 210, 207);
    border-radius: 5px;
}

.encriptedText {
    width: 50%;
}

.caesarCipher {
    margin-left: 340px;
}

.translateButton {
    width: 100px;
    height: fit-content;
    margin-top: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.subTitle {
    padding: 10px;
}

.pNormal {
    position: absolute;
    top: -27px;
    left: 107px;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.pEncripted {
    position: absolute;
    top: -27px;
    right: 107px;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.clearInputs {
    position: absolute;
    width: 100px;
    top: 80px;
    left: 350px;
}