body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px 0px;
    background-image: url(img/background.png);
    background-color: antiquewhite;
    position: relative;
}

header {
    width: 1200px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    background-image: url(img/bg-body.jpg);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    height: 50px;
    background-color: rgb(94, 86, 86);
}

.main {
    position: relative;
    background-image: url(img/bg-body.jpg);
    margin: auto;
    padding-top: 1px;
    background-color: rgba(164, 137, 129, 0.57);
    width: 1200px;
    height: 1100px;
}

.name {
    padding-left: 50px;
    line-height: 50px;
    color: white;
}

.myLink>a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 50px;
    color: white;
}

.myLink>a:hover {
    background-color: #2a5a5a57;
}

table,
th,
td {
    border: 1px solid;
    border-radius: 3px;
    margin: 20px auto;
    text-align: center;
}

.inputChar {
    width: 20px;
    text-align: center;
}

.button {
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    /* background-color: white; */
    background: linear-gradient(#2a5a5ab1, rgb(238, 234, 234));
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2:hover {
    background-color: #c83825;
    color: white;
}

.generateButton {
    margin-left: 535px;
}

textarea {
    resize: none;
}

.inputs {
    margin: 35px auto;
    width: 800px;
    height: 130px;
    display: flex;
    position: relative;
}

.yourText {
    width: 45%;
    position: relative;
}

.encriptedText {
    width: 45%;
}

.mainBlock {
    width: 10%;
    position: relative;
}

.show {
    visibility: '';
}

.hidden {
    visibility: hidden;
}

.closeNormalText {
    width: 11px;
    height: 11px;
    padding: 3px;
    position: absolute;
    top: 110px;
    left: 340px;
}

.closeNormalText:hover {
    opacity: 0.5;
}

.closeEncriptedText {
    width: 11px;
    height: 11px;
    padding: 3px;
    position: absolute;
    top: 110px;
    right: 4px;
}

.closeEncriptedText:hover {
    opacity: 0.5;
}

.copyNormalText {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 108px;
    left: 2px;
}

.copyNormalText:hover {
    opacity: 0.5;
}

.copyEncriptedText {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 108px;
    right: 339px;
}

.copyEncriptedText:hover {
    opacity: 0.5;
}

.caesarCipher {
    margin-left: 170px;
}

.randomCipher {
    margin-left: 10px;
}

.translateButton1 {
    width: 100px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
    padding: 5px;
    margin-left: 11px;
    position: absolute;
    top: 108px;
    right: 214px;
}

.translateButton2 {
    width: 100px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
    padding: 5px;
    margin-left: 11px;
    position: absolute;
    top: 108px;
    right: -233px;
}

.subTitle {
    padding: 10px;
}

.pNormal {
    position: absolute;
    top: -27px;
    left: 136px;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.pEncripted {
    position: absolute;
    top: -27px;
    right: 127px;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.clearInputs {
    position: absolute;
    top: 48px;
    width: 68px;
    left: 5px;
    border-radius: 124px;
    border: 1px solid #914444;
    background: radial-gradient(rgba(216, 204, 204, 0.489), rgba(208, 14, 14, 0.632));
}

.clearCipher {
    width: 11px;
    height: 11px;
    padding: 3px;
    position: absolute;
    top: 57px;
    left: 1134px;
}

.clearCipher:hover {
    opacity: 0.5;
}

img.rot:hover {
    animation: 0.5s linear 0s normal none infinite running rot;
    animation-iteration-count: 0.5;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.instructions {
    padding: 15px;
    padding-top: 0px;
    margin-left: 80px;
    line-height: 50%;
}

.instruction {
    font-size: 13px;
    text-align: left;
}

.line1 {
    line-height: 100%;
}

.uniqKey {
    position: absolute;
    top: 357px;
    right: 377px;
}